body{
    background: #EAE9E5;
}
 .signup_form{
     margin-top: 25%;
     background: #fff;
     padding: 30px;
     box-shadow: 0px 1px 36px 5px rgba(0,0,0,0.28);
     border-radius: 5px;
 }
 .login_form{
    margin-top: 25%;
    background: #fff;
    padding: 30px;
    box-shadow: 0px 1px 36px 5px rgba(0,0,0,0.28);
    border-radius: 5px;
}
 .form_btn{
     background: #fb641b;
     box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
     border: none;
     color: #fff;
     width: 100%;
 }

 .errmsg{
     margin: 2px auto;
     border-radius: 5px;
     border:1px solid red;
     background: yellow;
     text-align: center;
     color: brown;
     padding: 1px;
 }